@import model.products.forms.ProductData
@import model.products.Product

@(products: Seq[Product], productForm: Form[ProductData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Produtos") {
<div>
    @helper.form(action = routes.ProductController.createProduct()) {
    @inputText(productForm("name"))
    @inputText(productForm("suggestedPrice"))
    @inputText(productForm("stock"))
    @inputText(productForm("barcode"))
    @CSRF.formField
    <input type="submit">Enviar</input>
    }
    @for(p <- products) {
    <li>@p.name ($@p.suggestedPrice) - @p.stock</li>
    }
</div>
}
