@import model.transactions.{Transaction, Sale, Purchase, Item}
@import model.products.Product

@(transactions: Seq[(Transaction, Option[Sale], Option[Purchase], Seq[(Item, Product)])])

@import helper._

@main("Transações") {
<div>
    <h1> Transações </h1>
    <div>
        <div>
            <h2>Registre uma venda</h2>
            <form action="/action_page.php">
                <label for="cars">Choose a car:</label>
                <select id="cars" multiple name="cars">
                    <option value="volvo"></option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <h2>Registre uma compra</h2>
            ...
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Número</th>
            <th>Descrição</th>
            <th>Valor Frete</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        @for((t, s, p, items) <- transactions) {

        <tr>
            <td>@t.id</td>
            <td>
                <ul>
                    @for((i, product) <- items) {
                    <li>@i.quantity x @product.name - R$@i.price</li>
                    }
                </ul>
            </td>
            <td>
                @s.map(_.deliveryPrice).getOrElse {
                --
                }
            </td>
            <td>
                @items.map(_._1).foldLeft(0.0)((sum, i) => sum + i.price * i.quantity)
            </td>

        </tr>
        }
        </tbody>
    </table>
</div>
}
