@import model.transactions.{Transaction, Sale, Purchase, Item}
@import model.products.Product

@(transactions: Seq[(Transaction, Option[Sale], Option[Purchase], Seq[(Item, Product)])])

@import helper._

@main("Transações") {
<div>
    <h1> Transações </h1>
    <table>
        <thead>
        <tr>
            <th>Número</th>
            <th>Descrição</th>
            <th>Valor Frete</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        @for((t, s, p, items) <- transactions) {

        <tr>
            <td>@t.id</td>
            <td>
                <ul>
                    @for((i, product) <- items) {
                    <li>@i.quantity x @product.name - R$@i.price</li>
                    }
                </ul>
            </td>
            <td>
                @s.map(_.deliveryPrice).getOrElse {
                --
                }
            </td>
            <td>
                @items.map(_._1).foldLeft(0.0)((sum, i) => sum + i.price * i.quantity)
            </td>

        </tr>
        }
        </tbody>
    </table>
</div>
}
